{% extends 'admin/base.html' %}

{% load i18n static unfold %}

{% block extrastyle %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}

{% block bodyclass %}
  {{ block.super }} bg-base-50 login dark:bg-base-900
{% endblock %}

{% block title %}
  {{ title }} | {{ site_title }}
{% endblock %}

{% block base %}
  <section class="bg-base-50 dark:bg-base-900 h-full">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-sm text-center">
        <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600 dark:text-primary-500">{{ content.status_code }}</h1>
        <p class="mb-4 text-3xl tracking-tight font-bold text-font-important-light md:text-4xl dark:text-font-important-dark">
          {{ content.title }}
        </p>
        <p class="mb-4 text-lg font-light text-font-default-light dark:text-font-default-dark">
          {{ content.message|linebreaksbr }}
        </p>
        {% component 'unfold/components/button.html' with href=cta.url size='md' class='my-4 focus:outline-2 focus:outline-offset-2 focus:outline-primary-600' %}
        {{ cta.label }}
        {% endcomponent %}
      </div>
    </div>
  </section>
{% endblock %}
