[run]
source = .
omit =
    */migrations/*
    */tests/*
    */venv/*
    */.venv/*
    */__pycache__/*
    */staticfiles/*
    */media/*
    manage.py
    */wsgi.py
    */asgi.py
    */settings/*
    */celery.py
    bash/*

[report]
precision = 2
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstract
    @abstractmethod
    class .*\bProtocol\):
    @overload

show_missing = True
skip_covered = False

[html]
directory = htmlcov
title = Django Boilerplate Coverage Report
