amqp==5.3.1
asgiref==3.9.1
billiard==4.2.1
celery==5.5.3
cfgv==3.4.0
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cron_descriptor==2.0.4
distlib==0.4.0
Django==5.2.5
django-autoslug==1.9.9
django-celery-beat==2.8.1
django-environ==0.12.0
django-filter==25.1
django-modeltranslation==0.19.16
django-phonenumber-field==8.1.0
django-timezone-field==7.1
django-unfold==0.65.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
filelock==3.19.1
identify==2.6.13
kombu==5.5.4
nodeenv==1.9.1
packaging==25.0
platformdirs==4.3.8
pre_commit==4.3.0
prompt_toolkit==3.0.51
psycopg==3.2.9
psycopg-binary==3.2.9
PyJWT==2.10.1
python-crontab==3.3.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
vine==5.1.0
virtualenv==20.34.0
wcwidth==0.2.13
