{% extends 'unfold/layouts/unauthenticated.html' %}

{% load i18n unfold %}

{% block content %}
  <h1 class="font-semibold mb-10">
    <span class="block text-primary-600 text-xl dark:text-primary-500 mb-2">{% trans 'Password reset complete' %}</span>
    <span class="block text-font-important-light dark:text-font-important-dark">{% trans 'Your password has been set.  You may go ahead and log in now.' %}</span>
  </h1>
  {% url 'admin:index' as login_url %}
  {% component 'unfold/components/button.html' with submit=0 href=login_url class='flex flex-row font-semibold group items-center justify-center py-2 rounded text-sm text-white w-full' %}
  <i class="material-symbols-outlined mr-2 relative left-0-0 text-lg transition-all group-hover:right-1">arrow_back</i>
  {% translate 'Log in' %}
  {% endcomponent %}
{% endblock %}
