{% load i18n %}

<img class="rounded-default" src="data:image/png;base64,{{ qrcode }}" width="200" height="200" alt="{% trans 'Two step verification QR code' %}" />

<div class="leading-relaxed mt-2 text-xs">
  {% trans 'Scan the following barcode with your phone’s OTP app (e.g. Google Authenticator).' %}
  <a href="https://support.google.com/accounts/answer/1066447?hl=en"
     target="_blank"
     rel="noopener noreferrer"
     class="font-medium text-primary-600 underline dark:text-primary-500">{% trans 'Install Google Authenticator?' %}</a>
</div>
