{% extends 'emails/base.html' %}

{% load i18n %}

{% block title %}
  {% trans 'Email Verification' %}
{% endblock %}

{% block content %}
  <p class="content">
    {% trans 'Your verification code is:' %}
  </p>
  <p class="otp-code">
    <b>{{ otp_code }}</b>
  </p>
  <p class="content">
    {% trans 'Please do not share this code with anyone.' %}
  </p>
  <p class="note">
    {% blocktranslate %}Note: This code will expire in <b>{{ expiration_time }}</b> minutes.{% endblocktranslate %}
  </p>
{% endblock %}
